<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Slim 3</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body> 
            
        <h1 class="text-center">welcome {{pers.name}}</h1>
        <form class="form-sign-up container-col" action="{{path_for('update', {'id':pers.id})}}" method="post">
            <fieldset class="form-group">
            <div class="form-group row">
                <label for="input-name" class="col-sm-2 col-form-label">name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="name" value="{{pers.name}}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="input-birthdate" class="col-sm-2 col-form-label">birthdate</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" name="birthdate" value="{{ pers.birthdate | date("Y-m-d") }}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="input-gender" class="col-sm-2 col-form-label">Gender</label>                
                <div class="col-sm-6">
                    <select class="custom-select" name="gender" id="inputGroupSelect01">
                        <option selected>
                            {% if pers.gender == 1 %} 
                                female
                            {% endif %}
                            {% if pers.gender == 0 %} 
                                male
                            {% endif %}
                            {% if pers.gender == 2 %}
                                autre
                            {% endif %}
                        </option>
                        <option value="0">male</option>
                        <option value="1">female</option>
                        <option value="2">autre</option>
                    </select>
                </div>
            </div>
            </fieldset>
            <button type="submit" class="btn btn-primary sign-up-btn">Sign in</button>
        </form>

    </body>
</html>